<!doctype html>
<html>
<head>
	<link href="homepage.css" rel="stylesheet">
		
</head>

	<body style="background-color:lightskyblue;">
		<title> Text Similarity Matcher </title>
		<h1 style="margin: 30px; font-size: 60px;" >Text Comparator</h1>	

		<div class="parent">
			<div class="child">
				<form>
					<label for='text1'>Insert Text 1 Here:</label><br>
					<textarea id='text1' class='text' name='text1'></textarea>
				</form>
			</div>
			<div class="child">
				<form>
					<label for='text'>Insert Text 2 Here:</label><br>
					<textarea id='text2' class='text' name='text2'></textarea>
				</form>
			</div>
		</div>

		<div class="container">
			<div class="vertical-center">
   				<a href=compare.html>
	   				<button align:center ui="height:30px;width:100px background-color: #4CAF50; color: white;" onclick="test_compare()">COMPARE</button>
   				</a>
			</div>
		</div>

 	<p align="center">
		<a href=about >
			<button ui="height:30px;width:60px">About</button>
		</a>
 	</p>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
	</body>

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
	<script>

	function test_compare() {

		var string1 = document.getElementById("text1").value;
		var string2 = document.getElementById("text2").value;
		sessionStorage.setItem("firstString", string1);
		sessionStorage.setItem("secondString", string2);
		//fetch('/testFunc/'.concat(string1, "/", string2))
	}

	</script>
<html>