<html>
<head>
	<title> About </title>
</head>
	<body style="background-color: lightcoral;">
		<h1 style="text-align:left; border-bottom: 2px solid #000000; color: #000000; font-size: 40px; 
		text-transform: uppercase; letter-spacing: 4px; margin-bottom: 30px; font-family: Baskerville Old Face;">ABOUT US</h1>
	
	<h2 style="text-align:left; color: #000000; font-size: 20px; 
	text-transform: uppercase; letter-spacing: 1px; margin-bottom: 10px; font-family: Baskerville Old Face;">HOW TO USE THE SIMILARITY MATCHER</h2>
	<p style="margin-bottom: 2px; border-bottom: 2px solid #000000; font-family: Baskerville Old Face;">Simply type or paste in the two text bodies you want to compare in each of the two boxes and click on compare.</p>
	
	<h2 style="text-align:left; color: #000000; font-size: 20px; 
	text-transform: uppercase; letter-spacing: 1px; margin-bottom: 10px; font-family: Baskerville Old Face;">HOW IT WORKS</h2>
	<p style="margin-bottom: 2px; border-bottom: 2px solid #000000; font-family: Baskerville Old Face;">The similarity score you recieve is based on the following algorithms:<br>
	Furthermore, you also get to see the top matching sentences.</p>
	<p align="center">
		<a href=rerouter>
			<button ui="height:30px;width:100px" style="font-family: Baskerville Old Face;">HOMEPAGE</button>
		</a>
 	</p>
	 <style>
		button:hover {
			background-color:lightcoral;
			color: white;
		}
	</style>
	</body>
<html>