<html>
<head>
	<title> About </title>
</head>
	<body>
	<h1>ABOUT US</h1>
	<h2>HOW TO USE THE SIMILARITY MATCHER</h2>
	<p>Simply type or paste in the two text bodies you want to compare in each of the two boxes and click on compare.</p>
	<h2>HOW IT WORKS</h2>
	<p>The similarity score you recieve is based on the following algorithms:<br>
	Furthermore, you also get to see the top matching sentences.</p>
	<p align="center">
		<a href=rerouter>
			<button style="background-color:rgb(31, 76, 23);border-color:darkolivegreen;height:30px;width:100px">HOMEPAGE</button>
		</a>
 	</p>
	</body>
<html>