<!doctype html>
<html>
<head>
	<link href="{{ url_for('static', filename='compare.css') }}" rel="stylesheet" type="text/css">
	<title> Comparison Results </title>
</head>

	<body>

		<a href=rerouter>
			<button class="back">&lt</button> 
		</a>
		<br>
		<h1> Comparison Results</h1>


		<div class="text">
			<h2>Your Similarity Scores:</h2>
			<p id="cosine_score"></p>
			<p id="jaccard_score"></p>
			<p id="longME_score"></p>
			<br>
			<h3 id="average_score"></h3>
		</div>

		
		<div id="average_graph" class="graph" role="progressbar" aria-valuenow="65" aria-valuemin="0"
			aria-valuemax="100" style="--value:0"></div>
		<div class="text">
	
			<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
		</div>

		<div class="text">
			<h2>Top Matching Sentences:</h2>
			<p id="1."></p>
			<br>
			<p id="2."></p>
			<br>
			<p id="3."></p>
			<br>
			<p id="4."></p>
			<br>
			<p id="5."></p>
			<br>
		</div>

	</body>
	 
	<script>
		var output_score = document.getElementById("jaccard_score").innerText;
		var output_score = document.getElementById("cosine_score").innerText;

		$(
			function() {
				test_compare();
				//fetchCompScore(output_score, "/testFunc");
			}
		);
		/*
		function fetchCompScore(score, link) {
			$.ajax({
				type: "GET",
				url: link,
				dataType: "json",
				success: function(result){
					score = result;
					document.getElementById("cosine_score").innerText = result;
				}
			});
		}*/

		async function test_compare() {

			var string1 = sessionStorage.getItem("firstString");
			var string2 = sessionStorage.getItem("secondString");


			const response = await fetch('/testFunc/'.concat(string1, "/", string2), {
				method: 'GET'
			});
			const results = await response.json();
			if(results.jaccard == "")
				document.getElementById("jaccard_score").innerText = "Jaccard Index Result: 0";
			else
			  document.getElementById("jaccard_score").innerText = "Jaccard Index Result: ".concat(results.jaccard);
			
		    if(results.cosine == "")
				document.getElementById("cosine_score").innerText = "Cosine Result: 0";
			else
			    document.getElementById("cosine_score").innerText = "Cosine Result: ".concat(results.cosine);
			  
			if(results.lmongeelkan == "")
				document.getElementById("longME_score").innerText = "Long Monge Elkan Result: 0";
			else
			    document.getElementById("longME_score").innerText = "Long Monge Elkan Result: ".concat(results.cosine);
			
			document.getElementById("average_score").innerText = "Average Similarity Score: ".concat(results.average);
			document.getElementById("average_graph").setAttribute("style", "--value:".concat(Math.round(results.average)));
		}


	</script>
<html>
